
.imagenes{
    
    overflow: hidden;
    width: 100rem;
    margin-left: -5rem;

}

.pajarorosa{
   width: 11rem;
   margin-left: 82rem;
   margin-top: -10rem;
}

.manchaazul{
   width: 20rem;
   margin-left: 85rem;
   margin-top: 1rem;

}