.menu{
    display: flex;
    justify-content: right;
    margin-top: 0;
  }
  @media (min-width: 991.98px) { 
    .menu{
      display:none;
    }
  }

  .nav{
    display: none;
  }
  @media (min-width: 991.98px) { 
    .nav{
      display: flex;
    }
  }


header{
    display: flex;
    justify-content: space-between;
    position: fixed; 
    width: 100%;
    
}


.logo{
    width: 5.9rem;
    height: auto;
    margin-top: -35px;
    margin-left: -17px;
}

.logoContenedor{
    width: 93px;
    height: 93px;
    overflow: hidden;
    border-radius: 100%;
}
  
.box{
    width: 93px;
    height: 93px;
    overflow: hidden;
    padding: 10px;

}  

.menu{
    width: 80px;
    margin-top: 0;
}

.menu:hover{
    transform: scale(1.5) ;
}

nav{
    justify-content: space-around; 
    margin-top: 2rem;  
 
    
}

a {
    font-size: 25px;
   letter-spacing: 1px; 
   margin-right: 50px;
}

